/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--main-font), sans-serif;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-size: 18px;
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: var(--description-color);
}

.header {
  margin: 0 auto;
  position: relative;
  margin-block-end: 100px;
  margin-block-start: 100px;
  width: 100%;
  max-width: clamp(375px, 100%, 700px);
  display: flex;
  justify-content: start;
  align-items: center;
  align-self: center;
  flex-direction: column;
  padding-block-start: 136px;
  padding-block-end: 25px;
  border: 2px solid currentColor;
  background-color: var(--bg-color);
}

.header-title {
  color: var(--accent-color);
  font-family: var(--font-family), fantasy, sans-serif;
  font-weight: var(--font-weight);
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  padding-block-end: 20px;
}

.header-text {
  color: var(--accent-color);
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 7px;
  font-size: 14px;
  text-align: left;
}

.header__theme-menu {
  display: flex;
  justify-content: center;
  padding-block-start: 25px;
}

.theme-menu__item {
  position: relative;
  margin-inline-start: 22px;
}

.theme-menu__button {
  border: none;
  color: currentColor;
  font-family: var(--font-family);
  line-height: 14px;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  transition: opacity 0.3s;
}

.theme-menu__button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  left: -16px;
  top: -1px;
  animation: cursor 0.5s infinite ease-in-out alternate;
  pointer-events: none;
}

.theme-menu__button:focus {
  outline: none;
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
}

.theme-menu__button::after {
  content: "";
  display: block;
  height: 2px;
  margin-top: 3px;
  opacity: 0.6;
  background-color: var(--accent-color);
  transition: 0.3s ease;
  transform: scaleX(0);
  transform-origin: left;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.section-title {
  color: var(--section-title-color);
  font-size: 18px;
  font-variation-settings: "wght" var(--font-weight-section);
  text-align: left;
  padding-inline-start: 10px;
  padding-block: 5px 5px;
  line-height: 21px;
}

.main {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-inline-size: 700px;
}

.article {
  margin-block-end: 50px;
  position: relative;
  display: flex;
  flex-direction: column;
  border: 2px solid currentColor;
  background-color: var(--bg-color);
}

.text-block {
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding: 25px;
  font-size: 18px;
  font-variation-settings: "wght" var(--font-weight);
  line-height: 21px;
}

.text-blocks {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.img__container {
  display: block;
  width: 100%;
  border-top: 2px solid var(--accent-color);
  border-bottom: 2px solid var(--accent-color);
}

.img-label {
  position: absolute;
  padding-inline-end: 25px;
  padding-block-start: 25px;
  inset-inline-end: 0;
  opacity: 0.5;
  color: var(--accent-color);
  font-family: var(--font-family);
  font-size: 14px;
  -webkit-text-stroke: 1px var(--img-label-color);
  text-shadow: none;
  mix-blend-mode: hard-light;
  z-index: 1;
}

@supports (
  (text-stroke: 1px var(--label-contour)) or
    (-webkit-text-stroke: 1px var(--label-contour))
) {
  .img-label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--label-contour);
    text-stroke: 1px var(--label-contour);
  }
}

.button-block {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 12px;
  margin-right: 25px;
  margin-block-end: 25px;
}

.button__text {
  color: var(--button-color);
  mix-blend-mode: difference;
  z-index: 1;
  position: relative;
  cursor: pointer;
  font-size: 14px;
  line-height: 12.6px;
}

.card__like-button {
  width: 128px;
  height: 36px;
  padding: 0px;
  font-size: 14px;
  font-weight: 400;
  line-height: 12.6px;
  cursor: pointer;
}

.card__icon-button {
  background-color: transparent;
  border: none;
  padding: 0;
  height: 38px;
  outline: 2px solid;
  color: transparent;
  transition: color 0.3s ease;
  cursor: pointer;
}

.like-icon {
  height: 100%;
}

.card__icon-button:focus {
  border: none;
}

.card__icon-button:focus-visible {
  color: var(--accent-color);
}

.ordinary-decor {
  background-color: var(--accent-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
}

.saturate {
  filter: saturate(270%);
}

.contrast {
  filter: contrast(340%);
}

.sepia {
  filter: sepia(70%);
}

.blur {
  filter: blur(5px);
}

.grayscale {
  filter: grayscale(77%);
}

.invert {
  filter: invert(80%);
}

.mix-filter {
  filter: brightness(300%) contrast(100%) saturate(90%);
}

.save {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-block-end: 103px;
  width: clamp(19.125rem, 18.4868rem + 2.723vi, 20.9375rem);
  min-height: 55px;
}

.button-text-save {
  font-size: 14px;
  line-height: 12.6px;
  font-family: var(--font-family);
  position: relative;
  z-index: 1;
  color: var(--button-color);
  mix-blend-mode: difference;
  cursor: pointer;
}

.discet-text {
  display: block;
  max-width: 200px;
  color: var(--accent-color);
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.save-icon {
  max-width: 21px;
  max-height: 21px;
  inline-size: 100%;
  block-size: 100%;
  position: relative;
  mix-blend-mode: difference;
  color: var(--button-color);
  z-index: 1;
}

.dialog-floppy {
  position: relative;
  mix-blend-mode: difference;
  color: var(--button-color);
  z-index: 1;
  align-self: center;
}

.button {
  border: none;
  background-color: var(--bg-color);
  outline: 2px solid var(--accent-color);
  font-family: var(--font-family), sans-serif;
  position: relative;
  transition: box-shadow 0.3s;
  cursor: pointer;
  overflow: hidden;
}

.button:focus {
  border: none;
}

.button:focus-visible {
  box-shadow: var(--box-shadow);
}

.button::after {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  background-color: var(--accent-color);
  transition: transform 0.5s ease-in-out;
  transform: translateX(-100%);
  position: absolute;
  left: 0px;
  top: 0px;
}

.button:hover::after {
  cursor: pointer;
  transform: translateX(0);
  overflow: hidden;
}

.dialog-container {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: min-content auto;
  grid-column-gap: 20px;
  grid-row-gap: 30px;
  width: 100%;
}

.dialog-id[open] {
  display: grid;
  border: 2px solid var(--accent-color);
  padding: 30px;
  background-color: var(--bg-color);
  max-inline-size: clamp(21.3125rem, 21.0484rem + 1.1268vi, 22.0625rem);
}

.dialog-id::backdrop {
  opacity: 0.75;
  background-color: #000000;
  z-index: 1;
}

.button-close {
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  text-transform: uppercase;
  font-family: var(--font-family);
  height: 38px;
  width: 293px;
  color: var(--button-color);
  mix-blend-mode: difference;
  z-index: 1;
  position: relative;
}

.window-close {
  line-height: 12.6px;
  font-size: 14px;
}

.images {
  display: block;
  width: 100%;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 1/1;
}

@media (width < 376px) {
  .header {
    width: 100%;
    padding-block-start: 120px;
  }

  .section-title {
    display: block;
    padding: 4px 10px 6px;
  }
  .img__container {
    max-height: 700px;
    position: relative;
  }
  .images {
    width: 100%;
    height: auto;
  }

  .img-label {
    padding-inline-end: 11px;
  }

  .save {
    min-height: 84px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .save-icon {
    max-width: 28px;
    max-height: 28px;
  }

  .dialog-floppy {
    width: 39px;
  }

  .button-close {
    width: 100%;
  }

  .discet-text {
    inline-size: 198px;
  }

  .dialog-id[open] {
    padding: 30px 40px;
  }

  .form-dialog {
    padding: 0;
  }
}
