/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --font-family: "PressStart2P", fantasy;
  --main-font: "Inter-Variable", serif;
  --bg-color: #ffffff;
  --bg-image: repeating-linear-gradient(
      #d3d3d3 0px 2px,
      rgb(211 211 211/0) 2px 4px
    ),
    repeating-linear-gradient(
      90deg,
      #d3d3d3 0px 2px,
      rgb(211 211 211/0) 2px 4px
    ),
    linear-gradient(#e7e7e7 0.01%, #1a1a1a);
  --font-weight: 400;
  --font-weight-section: 700;
  --accent-color: #000000;
  --section-title-color: #000000;
  --description-color: #000000;
  --img-label-color: #ffffff;
  --box-shadow: 2px 2px 0px 2px #000000;
  --outline: 2px solid #000000;
  --label-contour: #fff;
  --button-color: #fff;
  --save-color: #000;
  --main-color: #000;
  --sparks-color: #ff0000;
}
